body {
    font-family: Arial, sans-serif;
    background: #0b1c2d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.login-card {
    background: white;
    color: #000;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

input,
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #caa44d;
    border: none;
    cursor: pointer;
}